block vars
doctype html
html
  head
    title Auth | #{title}
    link(type="text/css" href="css/style.css", rel="stylesheet")
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')


  body(ng-app="myApp" ng-controller="todoCtrl")
   block content
   
