extends base

block vars
	- var title = 'Dashboard'

block content
	h1 Dashboard
	p.
		Welcome to the Dashboard! You are now logged in.
		 <a href="/logout"> logout </a> 

	h2 User Information
	p First Name: 	#{user.firstName}
	p Email: 		#{user.email}
	p Data:	   		#{user.data}

	h2 My Todo List

	form(ng-submit="todoAdd()")
		input(type="text" ng-model="todoInput" size="50" placeholder='Add New')
		input(type="submit" value="Add New")

	div(ng-repeat="x in todoList")
		input(type="checkbox" ng-model="x.done")
		span(ng-bind="x.todoText")

	button(ng-click="remove()") Remove

	script(src="/js/todo.js")


 



	

